%p.title
  Tag Group Edit Page
  = "Code: #{@tag_group.code}"
= form_for :tag_group, url: tagmanager_tag_group_path(@tag_group), method: :put do |form|
  = form.submit 'Save'
  = form.label :code
  = form.text_field :code, value: @tag_group.code
  = form.label :parent, 'Parent'
  = form.select :parent, options_from_collection_for_select(@tag_groups, 'id', 'code', @tag_group.parent_id), include_blank: true
  .tag_groups-
    = form.label :subs, 'Sub-tag-group List:'
    %br
    = form.collection_check_boxes(:subs, @tag_groups, :id, :code, { multiple: true, checked: @tag_group.subs&.map(&:id) })
  .products
    = form.label :products, 'Belongs to Products'
    %br
    = form.collection_check_boxes(:products, @products, :id, :code, { multiple: true, checked: @tag_group.products&.map(&:id) })
