%p.title
  Tag Group Show Page
  = "Code: #{@tag_group.code}"
= render partial: 'tag_group_base.html', locals: { tag_group: @tag_group }
%br
%p.title Parent Tag Group:
- if @tag_group.parent
  = render partial: 'tag_group_base.html', locals: { tag_group: @tag_group.parent }
- else
  %p No Parent
%br
%p.title Subs Tag Group:
= render partial: 'tagmanager/common/tag_group_list.html', locals: { tag_groups: @tag_group.subs }
%p.title Belong to Products:
= render partial: 'tagmanager/common/product_list.html', locals: { products: @tag_group.products }
%br
= render partial: 'tagmanager/common/related_tags.html', locals: { tag_importable: @tag_group }
