%p.title Tag Group New Page
= form_for :tag_group, url: tagmanager_tag_groups_path do |form|
  = form.submit 'Create'
  = form.label :code
  = form.text_field :code
  = form.label :parent, 'Parent'
  = form.select :parent, options_from_collection_for_select(@tag_groups, 'id', 'code'), include_blank: true
  .tag_groups-
    = form.label :subs, 'Sub-tag-group List:'
    %br
    = form.collection_check_boxes(:subs, @tag_groups, :id, :code, { multiple: true })
  .products
    = form.label :products, 'Belongs to Products'
    %br
    = form.collection_check_boxes(:products, @products, :id, :code, { multiple: true })
