.product
  %p
    Code:
    = product.code
  %p
    Created at:
    = product.created_at
  %p
    = link_to 'Show', tagmanager_product_path(product)
    \-
    = link_to 'Edit', edit_tagmanager_product_path(product)
    \-
    = link_to 'Delete', tagmanager_product_path(product), method: :delete, data: { confirm: 'Are you sure?' }
    \-
    = link_to 'Assign tags', tags_edit_tagmanager_product_path(product)
