%p.title
  Product Edit Page
  = "Code: #{@product.code}"
= form_for :product, url: tagmanager_product_path(@product), method: :put do |form|
  = form.submit 'Save'
  = form.label :code
  = form.text_field :code, value: @product.code
  = form.label :parent, 'Parent'
  = form.select :parent, options_from_collection_for_select(@products, 'id', 'code', @product.parent_id), include_blank: true
  .products
    = form.label :subs, 'Sub-Product List:'
    %br
    = form.collection_check_boxes(:subs, @products, :id, :code, { multiple: true, checked: @product.subs&.map(&:id) })
  .tag_groups
    = form.label :tag_groups, 'Attached Tag Groups:'
    %br
    = form.collection_check_boxes(:tag_groups, @tag_groups, :id, :code, { multiple: true, checked: @product.tag_groups&.map(&:id) })
