%table.table
  %thead
    %tr
      %th Tag name
      %th Event
      %th value
      %th Action
  %tbody
  - tags.each do |tag|
    %tr
      %td #{tag[:name]}
      %td #{tag[:selector][:dom]}
      %td #{tag[:selector][:value]}
      %td
        %a{:href => "tag/#{tag[:id]}"} Edit
        %b -
        %a.delete_tag{:href => "#",:tag_id => "#{tag[:id]}" } Delete
