%html
  %head
    %meta{:content => current_user&.id, :name => "rada_uid",:property => "tracking"}/
    %meta{:content => "aaa", :name => "xxxx",:property => "tracking"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title RadaReporter
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    / %input#rada_uid{:type => "hidden",:value => current_user.id} 
    = render partial: "layouts/tracking"
  %body
    %nav.navbar.navbar-default.nav-cus
      .container-fluid
        .navbar-header.nav-left
          - if current_user.approval
            .navbar-brand= link_to 'Tag Manager', tagmanager_main_path
            .navbar-brand= link_to 'Products', tagmanager_products_path
            .navbar-brand= link_to 'Tag Groups', tagmanager_tag_groups_path
        %ul.nav.navbar-nav.nav-right
          - if current_user.admin
            %a.manager-user{:href => "/tagmanager/user/list"}Manager account
          %a.user-detail{"data-method": "get", href: "/users/edit"}=current_user.email
          %a.logout{"data-method": 'delete',:href => '/users/sign_out'}Logout
    = yield
